<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs')%> <link rel="stylesheet" href="/css/productCart.css">
<body>
    <%- include('../partials/header.ejs')%>
    <main>
     <section class="selected">
           <h3 class="titular">Mis Compras</h3>

      
        <article>
            <ul>
                <li><img class= "fotoProducto" src="/images/Nuggets.jpg" alt=''></li>
                <li><h4 class="nombreHamburguesa">Nuggets x10</h4></li>
                <li><p class="descripcionHamburguesa">10 bocaditos del más delicioso pollo crispy acompañados con la salsa que más te guste: cheddar, aioli, mostaza dulce, y papas regulares.</p></li>
                <li class="mas"><button type="button"><i class="fa-solid fa-plus"></i></button></li>
                <li><p class="cantidad">1</p></li>
                <li class="menos"><button type="button"><i class="fa-solid fa-minus"></i></button></li>  
                <li><p class="precioTotal">$2.500</p></li>
            </ul>
        </article>
        <article>
            <ul>
                <li><img class= "fotoProducto" src="/images/MegaCheddar.jpg" alt=''></li>
                <li><h4 class="nombreHamburguesa">Mega Cheddar Deluxe</h4></li>
                <li><p class="descripcionHamburguesa">Para los amantes del cheddar: Doble medallón de 200 gr de pura carne, con delicioso baño de queso cheddar y lluvia de bacon, con más cheddar por dentro, papas regulares.</p></li>
                <li class="mas"><button type="button"><i class="fa-solid fa-plus"></i></button></li>
                <li><p class="cantidad">2</p></li>
                <li class="menos"><button type="button"><i class="fa-solid fa-minus"></i></button></li>  
                <li><p class="precioTotal">$5.400</p></li>
            </ul>
        </article> 

      </section>

      <section class="descuentoYPrecioFinal">
    <form action="/" method="get">
         
         <div class="total"><div class="input" id="total">Total</div></div>

        <div>
            <button type="submit">Finalizar Compra</button>
        </div>
    </form>
      </section>
    
    
    </main>
    <script src='/js/cart.js'></script>
    </body>
<%- include('../partials/footer.ejs')%>
    </html>    