<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs')%> <link rel="stylesheet" href="/css/productCart.css">
<body>
    <%- include('../partials/header.ejs')%>
    <main><h3 class="titular">Mis Compras</h3>
     <section class="selected">
                 
      </section>
      <div class="vacio"></div>

            
         <div class="total"><div class="input" id="total">Total</div></div>

        <div>
            <button id="finalizarCompra"type="submit">Finalizar Compra</button>
        </div>
    </form>
      </section>
    
    
    </main>
    <script src='/js/cart.js'></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </body>
<%- include('../partials/footer.ejs')%>
    </html>    