<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs')%><link rel="stylesheet" href="/css/productList.css">
<body>
    <%- include('../partials/header.ejs')%>
 <main>
    <section>
        <h3 class="titular-detail">Hamburguesas 100% hechas con carne de verdad</h3>
        <article>
            <% tipo.forEach((tipo)=>{%>
                <h4 class="detail"><%= tipo.name %></h4>
                <br>
                              
              <%})%></article>
              <br>
    </section>

 </main>
  
</body>
  <%- include('../partials/footer.ejs')%>
</html>
