<header>
    <!--LOGO CON INDEX-->
    <a href="/">
        <img src="/images/Logo.jpeg" alt="Logo de la empresa">
    </a>
    <!--MENU,LINKS-->
    <nav>
        <ul>
            <li><a href="/users/login" > LogIn </a> </li>
            <li><a href="/product/list" > Productos </a> </li> 
            <li><a href="/product/productCart" > Carrito de Compras </a> </li>
            <li><a href="/users/register" > Registrarse </a> </li>             
        </ul>
    </nav>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>
</header>