<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs')%> <link rel="stylesheet" href="/css/oneProduct.css">
<body>
    <%- include('../partials/header.ejs')%>
    <main>
     <section>
        <article>
            <h3 class="titular-detail">Mega Pampeano</h3>
            <img class="fotos" src="/images/MegaPampeano.jpg" alt=''>
            <p class="descripcion">Medallón de 150 gr de pura carne, con queso cheddar, lomo en fetas y nuestra salsa epecial, papas regulares</p>
            <p class="precio">$1900</p>
        </article>