html {
    font-family: 'Lekton', sans-serif;
    background-color: #000;
    color: yellowgreen;
}

header {
    background-color: #000;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-around;
    border: 2px solid yellowgreen;
    align-items: center;
}

header img {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 150px;
}

header img:hover {
    transform: scale(1.05);
}

nav {
    width: 85%;
}

header ul {
    list-style: none;
    background-color: black;
    display: flex;
    justify-content: space-around;

}

header ul a {
    color: yellowgreen;
    font-size: 1.8rem;
    display: flex;
    text-decoration: none;
}

header ul a:hover {
    color: greenyellow;
    transform: scale(1.25);
}

main {
  
    height: auto;
    background: linear-gradient(to bottom, rgb(0 0 0/ 1), rgb(0 0 0/ .1)), url(../images/BURGER3.jpg);
    background-size: cover;
    background-position: center;
}

h3.titular {
    font-size: 30px;
    margin-left: 6vw;
    margin-top: 4vw;
}

article ul {
    width: 80%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.fotoProducto {
    width: 10vw;
    margin-left: 3vw;
    margin-top: 3vw;
    margin-right: 4vw;
    border: solid 3px yellowgreen;

}

.nombreHamburguesa {
    width: 10vw;
    font-size: 22px;
    margin-top: 3vw;
    margin-right: 2vw;
}

.descripcionHamburguesa {
    width: 38vw;
    margin-top: 3vw;
    margin-right: 3vw;
    font-size: 20px;
}

.cantidad {
    font-size: 20px;
    text-align: center;
    color: #000;
    margin-left: 2vw;
    margin-right: 2vw;
    background-color: #fff;
    width: 3vw;

}

.mas {
    margin-left: 4vw;

}

.mas i {
    font-size: 15px;

}

.menos i {
    font-size: 15px;

}

.precioTotal {
    font-size: 20px;
    text-align: right;
    width: 10vw;
}

.descuentoYPrecioFinal {
    margin-top: 5vw;
    margin-left: 55%;
    font-size: 40px;
}

input[type="text"] {
    width: 60%;
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    font-size: 20px;
    transition: all 0.5s;
    border: solid 3px yellowgreen;
}

.input {
    width: 60%;
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    font-size: 15px;
    transition: all 0.5s;
    background-color: white;
    color: gray;
    border: solid 3px yellowgreen;
}


button[type="submit"] {
    width: 60%;
    padding: 10px;
    margin: 25px;
    border-radius: 5px;
    transition: all 0.5s;
    font-size: 15px;
}

button[type="submit"]:hover {
    background-color: greenyellow;
    border: 2px inset;
    color: black;
}

button.mensajeCarritoVacio {
    justify-content: center;
    color: black;
    background-color: yellowgreen;
    border-radius: 5px;
    padding: 10px;
    padding-top: 10px;
    margin: 65px;
    text-align: center;
    font-size: 50px;
}



@media (max-width: 768px) {

    .descripcionHamburguesa {
        display: none;
    }

    .fotoProducto {
        width: 15vw;


    }

    .nombreHamburguesa {
        width: 25vw;
        font-size: 13px;
    }

    .cantidad {
        font-size: 10px;
    }

    .mas i {
        font-size: 8px;

    }

    .menos i {
        font-size: 8px;

    }

    .precioTotal {
        font-size: 20px;
        margin-left: 90%;
    }

   


    main {
        height: fit-content;
    }

    .pie {
        font-size: 12px;
        text-align: center;


    }
    button.mensajeCarritoVacio {
        justify-content: center;
        color: black;
        background-color: yellowgreen;
        border-radius: 5px;
        padding: 10px;
        padding-top: 10px;
        margin: 45px;
        text-align: center;
        font-size: 30px;
    }
    

}

@media (max-width: 480px) {

    .input {
        font-size: 15px;
    }

    button[type="submit"] {
        font-size: 15px;
    }
    button.mensajeCarritoVacio {
        justify-content: center;
        color: black;
        background-color: yellowgreen;
        border-radius: 5px;
        padding: 10px;
        padding-top: 10px;
        margin: 25px;
        text-align: center;
        font-size: 20px;
    }
    .precioTotal {
        font-size: 15px;
        margin-left: 90%;
    }
}
@media (min-width: 769px) {}