main {
  height: auto;
}

  h3.saludo{
    font-size: 45px;
    padding: 10px;
    font-weight: 500;
    text-align: center;
  }

  .fotos{

    border: solid 3px rgb(6, 223, 6);
  width: 40%;
    left: 555px;
    top:5px;
    bottom: 40px;
    padding: 5px;
    

  }

  .address{
    font-size: 18px;
    font-style: normal;
    padding: 5px;
    margin: 2px;
    text-align: center;
    position: relative;
    top:5px;
    bottom: 40px;
  }

  .mail{
    font-size: 28px; 
    font-style: normal;
    padding: 2px;
    margin: 2px;
    font-weight: bold;
    text-align: center;
  }

  .botonEditar{
    font-size: 18px; 
    font-style: normal;
    padding: 2px;
    margin: 2px;
    font-weight: bold;
    text-align: center;
    color: yellowgreen;
  }

  section{
    width: 90%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
