/**/
/*EDITAR USUARIO*/


main{
    width: 100vw;
    height: 80vw;    
    background: linear-gradient(to bottom , rgb(0 0 0/ 1), rgb(0 0 0/ .3)), url(../images/BURGER3.jpg);
    background-size: cover;
    background-position: center;
  }
 
 
  .editarUsuario{
    text-align: center;
    font-size: 40px;
    width: 100%;
    color: yellowgreen;
   
  }
 
 
  form {
    border-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 50vw;   
    border: 3px solid yellowgreen;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
  }

 .eliminForm{
  border: none;
 }
 
  form input{
    display: flex;
    margin: auto;
    height: 50px;
    width: 75%;
    padding-left: 10px;
    color: yellowgreen;
    border: 1px solid yellowgreen;
    border-radius: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: transparent;
    border-top-left-radius: 10px;
    border-bottom-right-radius:10px;
    font-size: 16px;
    outline: none;
  }
 
 
  .formEditUser input:hover{
    transition: .5s;
    border:5px solid yellowgreen;
    color: yellowgreen;
 
 
  }
 
 
  .subtitulosEdit{
    font-size: 25px;
    margin-top: 50px;
    text-align: center;
    
  }
 
 
  .guardarEditUser:hover {
    color:black;
    background-color: yellowgreen;
    border: 3px solid yellowgreen;
    background: linear-gradient(yellowgreen);
  }
 
 
  .guardarEditUser{
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 30px;
    height: 40px;
    width: 80%;
    background: transparent;
    color: yellowgreen;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    transition: all .5s ease;
    border: 1px solid yellowgreen;
   
  }
 
 
  .eliminarUser:hover {
    color:black;
    background-color: yellowgreen;
    border: 3px solid yellowgreen;
    background: linear-gradient(yellowgreen);
  }
 
 
  .eliminarUser{
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 30px;
    height: 40px;
    width: 80%;
    background: transparent;
    color: yellowgreen;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    transition: all .5s ease;
    border: 1px solid yellowgreen;
   
  }
  .is-valid {
    color: #198754;
    border: #198754 3px solid;
  }
  
  .is-invalid {
    color: #842029;
    border: #842029 3px solid;
  }
  
  .alert-warning{
    color: red;
    font-size: 18px;
    background-color: transparent;
    text-align: center;
    display: block;
    margin: auto;
    height: 40px;
    width: 60%;
    margin-top: 2px;
    
}