/**/
/*CREACION USUARIO*/




main{
    width: 100vw;
    height: 80vw;    
    background: linear-gradient(to bottom , rgb(0 0 0/ 1), rgb(0 0 0/ .1)), url(../images/BURGERR2.jpg);
    background-size: cover;
    background-position: center;
  }
 
 
  .editarUsuario{
    text-align: center;
    font-size: 40px;
    width: 100%;
    color: yellowgreen;
   
  }
 
 
  form {
    border-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin: 80px;
    height: 50vw;   
    border: 3px solid yellowgreen;
  }
 
 
  form input{
    display: flex;
    margin: auto;
    height: 50px;
    width: 50%;
    padding-left: 10px;
    color: yellowgreen;
    border: 1px solid yellowgreen;
    border-radius: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: transparent;
    border-top-left-radius: 10px;
    border-bottom-right-radius:10px;
    font-size: 18px;
    outline: none;
  }
 
 
  .formEditUser input:hover{
    transition: .5s;
    border:5px solid yellowgreen;
    color: yellowgreen;
 
 
  }
 
 
  .subtitulosEdit{
    font-size: 25px;
    margin:auto;
    padding-left: 8%;
    margin-top: 50px;
  }
 
 
 
 
  .guardarEditUser:hover {
    background-color: greenyellow;
    border: 2px inset;
  }
 
 
  .guardarEditUser{
    width: 20%;
    padding: 10px;
    margin: 40%;
    border-radius: 5px;
    font-size: 17px;
    color: #000;
    background-color: white;
    display: block;
    margin-top: 25px;
    margin-bottom: 30px;
    height: 40px;
    cursor: pointer;
    outline: none;
    transition: all .5s ease;
    border: 1px solid yellowgreen;
   
  }
 
 
  .eliminarUser:hover {
    background-color: greenyellow;
    border: 2px inset;
  }
 
 
  .eliminarUser{
 
 
    width: 20%;
    padding: 10px;
    margin: 40%;
    border-radius: 5px;
    font-size: 17px;
    color: #000;
    background-color: white;
    display: block;
    margin-top: 25px;
    margin-bottom: 30px;
    height: 40px;
    cursor: pointer;
    outline: none;
    transition: all .5s ease;
    border: 1px solid yellowgreen;
   
  }
 
  .alert-warning{
    color: red;
    font-size: 18px;
    background-color: transparent;
    text-align: left;
    display: block;
    margin: auto;
    height: 40px;
    width: 60%;
    margin-top: 2px;

    
    
}