@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-family: 'Lekton', sans-serif;
    background-color: #000;
    color: yellowgreen;
}

                /*HEADER*/
header {
    background-color: #000;
    position:sticky;
    top: 0px;
    display: flex;
    justify-content: space-around;
    border: 2px solid yellowgreen;
    align-items: center;
  }
header img{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 150px;   
}
header img:hover{
    transform: scale(1.05);
}
nav{
    width: 85%;
}
header ul {
    list-style: none;
    background-color: black;
    display: flex;
    justify-content: space-around;
    
  }
  header ul a {
    color: yellowgreen;
    font-size: 1.8rem;
    display: flex;
    text-decoration: none;
  }
  header ul a:hover {
    color:greenyellow;
    transform: scale(1.25);
  }

  h3.saludo{
    font-size: 45px;
    padding: 10px;
    font-weight: 500;
    text-align: center;
  }

  .fotos{

    border: solid 3px rgb(6, 223, 6);
    position: relative;
    left: 555px;
    top:5px;
    bottom: 40px;
    padding: 5px;
    

  }

  .adress{
    font-size: 18px;
    font-style: normal;
    padding: 5px;
    margin: 2px;
    text-align: center;
    position: relative;
    top:5px;
    bottom: 40px;
  }

  .mail{
    font-size: 28px; 
    font-style: normal;
    padding: 2px;
    margin: 2px;
    font-weight: bold;
    text-align: center;
  }
