@import "register.css";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body {
    font-family: 'Roboto', sans-serif;
    
  background-color: #3B3A3A;}
header{
background-color: black;
}
main {
    width: 90vw;
    margin: auto;
    height: 100%;
    padding-bottom: 20px;
  
}