<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>

    <body>
        <%- include('./partials/header.ejs')%>
            <main>
                       <!--INTRODUCCION-->
                <section class="Presentacion">
                    <div class="wrap">
                        <div class="wrap-texto">
                            <h1>¿Queres recorrer el mundo?</h1>
                            <p>Ven y come nuestras burgers</p>
                            <p>encontraras la mexicana, americana y más</p>
                            <p>sabores mundiales.</p>
                            <p>Más de mil sabores bajo una FULL BURGUER</p>
                            <a href="/productCart">
                                <h4>Ver Mas</h4>
                            </a>
                        </div>

                    </div>

                </section>
                <!--SEGUNDA PARTE-->
                <section class="segundaPresentacion">
                    <div class="wrap2">
                        <div class="wrap-texto2">
                            <h2>Cocinamos con el corazon</h2>
                            <p>Descubre cuanto sabor</p>
                            <p>puede contener una FULL BURGUER</p>
                            <a href="/productCart">
                                <h4>Ver Mas</h4>
                            </a>
                        </div>
                    </div>
                </section>
               
            </main>
    </body>
 <%- include('./partials/footer.ejs')%>
</html>