<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/header.ejs')%>
    <main>
        <div class="usuarios">
        
        <form class="form-login">
            <img src= "/images/icono burger.jpg" alt="icono de login hamburguesa">
            <input type="text" placeholder="Email o nombre de usuario">
            <input type="password" placeholder="Ingrese su contraseña">
            <button>Iniciar Sesion</button>
        </form>
        
        
    </div>
    
</main>

</body>
<%- include('./partials/footer.ejs')%>
</html>