<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>
    <link rel="stylesheet" href="/css/register.css">
    </head>

    <body>
        <%- include('./partials/header.ejs')%>
            <main>
                <section class="registro">
                    <div class="combo"><img src="/images/combo.jpg" alt="combo" height="50%" width="100%" /></div>
                    </div>
                    <form action="/" method="get">
                        <h3 class="cuenta">Cre치 tu cuenta</h3>
                        <div><label for="Nombre y apellido"></label>
                            <input type="text" name="Nombre y apellido" id="Nombre y apellido"
                                placeholder="Nombre y Apellido">
                            <span class="feedback"></span>
                        </div>
                        <h4 class="form">Fecha de nacimiento</h4>
                        <div><label for="fecha"></label>
                            <input type="date" name="fecha" id="fecha">
                            <span class="feedback"></span>
                        </div>
                        <div><label for="Domicilio"></label>
                            <input type="text" name="Domicilio" id="Domicilio" placeholder="Domicilio">
                            <span class="feedback"></span>
                        </div>
                        <div> <label for="Usuario"></label>
                            <input type="text" name="Usuario" id="Usuario" placeholder="Nombre de usuario">
                            <span class="feedback"></span>
                        </div>
                        <div><label for="Contrasenia"></label>
                            <input type="password" name="Contrasenia" id="Contrasenia"
                                placeholder="Cre치 una contrase침a">
                            <span class="feedback"></span>
                        </div>
                        <div><label for="ConfirmarContrasenia"></label>
                            <input type="password" name="ConfirmarContrasenia" id="ConfirmarContrasenia"
                                placeholder="Confirmar contrase침a">
                        </div>
                        <div><button type="submit">Enviar</button>
                            <button type="reset">Cancelar</button>
                        </div>
                    </form>

                </section>

            </main>
            <%- include('./partials/footer.ejs')%>
    </body>

</html>