<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')%>
<link rel="stylesheet" href="/css/register.css">
    </head>

    <body>
        <%- include('../partials/header.ejs')%>
            <main>
                <section class="registro">
                    <form class="form-login" action="register" method="post" enctype="multipart/form-data">
                        <h3 class="cuenta">Cre치 tu cuenta</h3>
                        <div><label for="Nombre y apellido"></label>
                            <input type="text" name="nombre" id="Nombre y apellido"
                                placeholder="Nombre y Apellido">
                                
                            <span class="feedback"></span>
                        </div>
                        <h4 class="form">Fecha de nacimiento</h4>
                        <div><label for="fecha"></label>
                            <input type="date" name="fecha" id="fecha">
                            <span class="feedback"></span>
                        </div>
                        <div><label for="Domicilio"></label>
                            <input type="text" name="address" id="address" placeholder="Domicilio">
                            <span class="feedback"></span>
                        </div><br><label for="Email"></label>
                            <input type="email" name="email" id="email" placeholder="Email">
                            <span class="feedback"></span>
                        </div>
                        <div class="crearproducto"><label for="file">Foto de perfil</label>
                            <input type="file" name="avatar" id="imagen" accept=".jpg, .png">
                        </div>
                        <div><label for="Contrasenia"></label>
                            <input type="password" name="password" id="Contrasenia"
                                placeholder="Cre치 una contrase침a">
                            <span class="feedback"></span>
                        </div>
                        <div><label for="ConfirmarContrasenia"></label>
                            <input type="password" name="ConfirmarContrasenia" id="ConfirmarContrasenia"
                                placeholder="Confirmar contrase침a">
                        </div>
                        <div><button type="submit">Enviar</button>
                            <button type="reset">Cancelar</button>
                        </div>
                    </form>

                </section>

            </main>
            
    </body>
<%- include('../partials/footer.ejs')%>
</html>