<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FullBurguer</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="link rel=preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/8d886df13f.js" crossorigin="anonymous"></script>
</head>
<body>
 <header>
    <a href="index"><img src="/images/Logo.png" alt="Logo de la empresa"></a>
 </header>
 <main>
    <section>
        <h3 class="titular-detail">Hamburguesas 100% hechas con carne de verdad</h3>
        <article>
            <img src="/images/MegaPampeano.jpg" alt=''>
            <h4 class="detail">Mega Pampeano</h4> 
            <p class="descripcion">Medallón de 150 gr de pura carne, con queso cheddar, lomo en fetas y nuestra salsa epecial, papas regulares</p>
            <p class="precio">$1900</p>
        </article>
        <article>
            <img src="/images/MegaCheddar.jpg" alt=''>
            <h4 class="detail">Mega Cheddar Deluxe</h4> 
            <p class="descripcion">Para los amantes del cheddar: Doble medallón de 200 gr de pura carne, con delicioso baño de queso cheddar y lluvia de bacon, con más cheddar por dentro, papas regulares</p>
            <p class="precio">$2700</p>
        </article>
        <article>
            <img src="/images/DobleAngus.jpg" alt=''>
            <h4 class="detail">Mega Doble Angus</h4> 
            <p class="descripcion">Doble medallón de 200 gr de pura carne angus premium, con doble queso cheddar, lechuga, cebolla y tomate más nuestra súper salsa tártara, papas regulares</p>
            <p class="precio">$2200</p>
        </article>

    </section>

    <section>
        <h3 class="titular-detail">El rey del Pollo</h3>
        <article>
            <img src="/images/PolloBacon.jpg" alt=''>
            <h4 class="detail">Pollo Bacon</h4> 
            <p class="descripcion">Medallón de pollo crispy, con queso cheddar, cebolla, lechuga, tomate, nuestra salsa epecial, y por supuesto bien recargada del más rico bacon, papas regulares</p>
            <p class="precio">$2200</p>
        </article>
        <article>
            <img src="/images/PolloDeluxe.jpg" alt=''>
            <h4 class="detail">Pollo Deluxe</h4> 
            <p class="descripcion">Medallón de pollo crispy, con queso doble cheddar, cebolla, lechuga, tomate, nuestra salsa picante con pepinillos, papas regulares</p>
            <p class="precio">$2400</p>
        </article>
        <article>
            <img src="/images/Nuggets.jpg" alt=''>
            <h4 class="detail">Nuggets x10</h4> 
            <p class="descripcion">10 bocaditos del más delicioso pollo crispy, acompañado con la salsa que más te guste: cheddar, aioli, mostaza dulce, y papas regulares</p>
            <p class="precio">$2500</p>
        </article>
     </section>

    <section>
        <h3 class="titular-detail">Para los más chiquitos de la familia</h3>
        <article>
            <img src="/images/Cajita.jpg" alt=''>
            <h4 class="detail">Cajita Feliz</h4> 
            <p class="descripcion">Hamburguesa de carne junior con queso cheddar, acompañada de papas fritas, gaseosa a elección y juguete de la última colección</p>
            <p class="adicional"><h5>*Podes elegir entre hambuguesa con queso, 6 bocaditos de pollo o tstado de lomo y queso. Además pueden ser papas fritas o tomatitos cherry</h5></p>
            <p class="precio">$2200</p>
        </article>
    </section>    
 </main>
  
</body>
</html>