<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs')%>
<body>
    <%- include('../partials/header.ejs')%>
    <main>
        <div class="usuarios">
        <section>
        <form class="form-login" action="login" method="post">
            <img src= "/images/icono burger.jpg" alt="icono de login hamburguesa">
            <label for="email"></label>
            <input type="email" name= "email" placeholder="Email ">
            <% if (locals.errors && errors.email) { %>
                <div class = "text-danger">
                   <%= errors.email.msg %>
                </div>
               <% } %>
            <input type="password" name="password" placeholder="Ingrese su contraseña">
            <div class="remember">
                <input type="checkbox" name="rememberUser">Recordar mi usuario
            </div>
            <button type="submit">Iniciar Sesión</button>
        </form>
        
        </section>
    </div>
    
</main>

</body>
<%- include('../partials/footer.ejs')%>
</html>